body {
  background-color: #ffee8c;
  margin: 0;
}
.nav-bar {
  box-shadow: 0 1px 2px grey;
  height: 80px;
  margin-bottom: 100px;
  align-items: center;
} 
.header {
  margin: 10px;
  padding-left: 2 5px;
  font-size: 40px;
  padding-left: 25px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 900;
  font-style: normal;
  font-weight: bolder;
  color: #65350f;
}
.input {
  display: flex;
  justify-content: center;
  height: 250px;
}
.input-div {
  width: 350px;
}
#todo-title {
  border: none;
  background-color: #65350f;
  height: 30px;
  width: 250px;
  color: #ffee8c;
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 20px;
  padding-left: 15px;
  &::placeholder {
    color:#ffee8c; 
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
  }
  &:focus {
    outline: none;
  } 
}
#todo-btn {
  border: none;
  border: 2px solid #65350f;
  background-color: #65350f;
  height: 30px;
  width: 85px;
  color: #ffee8c;
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 5px grey;
  &:hover{
    transition: 100ms;
    color: #65350f;
    font-weight: 700;
    background-color: #ffee8c;
  }
  &:active {
    opacity: 0.7;
  }
}
#todo-details {

  resize: none;

  background-color: #65350f;
  color: #ffee8c;
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 60%;
  &::placeholder {
    color:#ffee8c; 
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
  }
  &:focus {
    outline: none;
  }
}

.todo-div {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

